# ESTRUCTURAS DE DATOS

## TUPLAS

In [1]:
tupla = (1, 23, 45) # Tupla básica

In [2]:
tupla

(1, 23, 45)

In [3]:
tupla[2]

45

In [4]:
tupla_index = ( tupla, 
               (56, 'hola', 52.3654, 'fin' )
              ) # Tupla indexada

In [5]:
tupla_index

((1, 23, 45), (56, 'hola', 52.3654, 'fin'))

Podemos mostrar valores a través del índice de cada tupla

In [6]:
tupla_index[0]

(1, 23, 45)

In [7]:
tupla_index[0][2]

45

In [16]:
tupla_index[1][0]

56

In [17]:
tupla_index[2]

IndexError: tuple index out of range

In [18]:
len(tupla_index)

2

In [10]:
tupla_index

((1, 23, 45), (56, 'hola', 52.3654, 'fin'))

No son mutables

In [19]:
tupla

(1, 23, 45)

In [20]:
tupla[1] = 100

TypeError: 'tuple' object does not support item assignment

In [21]:
tupla = (1, 100, 45)

In [22]:
tupla

(1, 100, 45)

Clase de una tupla

In [23]:
type(tupla_index)

tuple

### Ejercicio 1.

Guardar las siguientes calificaciones en una tupla.

* 5.25
* 4.5
* 3.25
* 7.8
* 5.90
* 10
* 9.6

Mostrar sus elementos uno a uno.

#### Solución

In [24]:
calificaciones = (5.25, 4.5, 3.25, 7.8, 5.9, 10, 9.6)

Para recorrer las siguientes secuencias:
* cadenas de texto
* tuplas
* listas
* arrays (vectores, matrices)

Lo mejor son **bucles for**

1. Directamente sobre el elemento

In [3]:
for item in a:
    print(item)

1
-2
3

2. Sobre el índice

In [9]:
a

(1, -2, 3)

In [8]:
for item in range(0, len(a)):
    print("Índice --> ", item, " Posición --> ", a[item])

Índice -->  0  Posición -->  1
Índice -->  1  Posición -->  -2
Índice -->  2  Posición -->  3

### Ejercicio 2

Escribir un programa que almacene los vectores (1,2,3) y (-1,0,2) en dos tuplas y muestre por pantalla su producto escalar.

NOTA: El producto escalar se realizar elemento a elemento.

#### Solución

In [10]:
# Definimos dos tuplas
a = (1, -2, 3)
b = (-1, 0, 2)

In [24]:
producto_escalar = 0

# Recorro con un range las dos tuplas por índice
for hola in range(len(b)):
    # print("Tupla a: ", a[hola], " Tupla b ", b[hola])
    # print("\tProducto escalar en posición ", hola+1, " --> ", a[hola]*b[hola])
    
    # Actualizo el producto escalar
    producto_escalar = producto_escalar + a[hola]*b[hola]
    
print("Resultado del producto escalar ", producto_escalar)

Resultado del producto escalar  5

In [25]:
# Variable auxiliar para guardar el producto.
escalar = 0

# Calculamos el producto
for i in range(len(a)):
    escalar = escalar + a[i]*b[i]

print("El producto escalar de ", a, b, " es --> ", escalar)

El producto escalar de  (1, -2, 3) (-1, 0, 2)  es -->  5

### Ejercicio 3

Escribe un programa que muestre la media de la siguiente tupla:

In [26]:
tupla = (1, 5, 8, 9, 100, 23, 6, 10, 30)

#### Solución

In [30]:
# suma = 0
# for item in tupla:
#     print("Valor de la suma {}, próximo valor de la suma {}".format(suma, suma + item))
#     suma = suma + item

In [29]:
# # Inicializamos la tupla
# suma = 0

# contador = 1

# # Directamente sobre el elemento de la tupla
# for item in tupla:
#     suma = suma + item
#     contador = contador + 1
    

# # Sobre el índice
# # for item in range(len(tupla)):
# #     suma = suma + tupla[item]
    
# print('La media de la tupla es {}'.format(suma/len(tupla)))

In [32]:
# Inicializamos la tupla
suma = 0

# Directamente sobre el elemento de la tupla
for item in tupla:
    suma = suma + item

# Sobre el índice
# for item in range(len(tupla)):
#     suma = suma + tupla[item]
    
print('La media de la tupla es {}'.format(round(suma/len(tupla),2)))

La media de la tupla es 21.33

## LISTAS

Definición de una lista

In [38]:
# # Recorrer cadenas de texto 
# a = "hola"

# for letra in a:
#     print(letra)
    
    
    
# print("----")

# for letra in range(len(a)):
#     print(a[letra])

In [37]:
# # No son mutables
# a[2] = "P" # TypeError: 'str' object does not support item assignment

In [39]:
mi_lista = [1, 3, 89, 23]

In [40]:
mi_lista

[1, 3, 89, 23]

In [41]:
mix_list = ['hola', 51, 8.23, 2, 'cadena']

In [42]:
mix_list

['hola', 51, 8.23, 2, 'cadena']

In [43]:
new_list = [1, mi_lista, 5, 95.5, [78, 96], mix_list]
new_list

[1, [1, 3, 89, 23], 5, 95.5, [78, 96], ['hola', 51, 8.23, 2, 'cadena']]

In [44]:
len(new_list)

6

In [45]:
len(new_list[1])

4

### Ejercicio 4.

Almacenar la siguiente información en una lista:

* BBVA
* CAIXA
* SANTANDER
* BANKIA
* BNEXT
* CAJA RURAL

Imprimir de la lista obtenida el segundo y cuarto elemento

### Solución

In [60]:
banks = ["BBVA", 
         "CAIXA", 
         "SANTANDER", 
         "BANKIA", 
         "CAJA RURAL", 
         "BNEXT"]

In [61]:
banks[1]

'CAIXA'

In [62]:
banks[3]

'BANKIA'

Listas anidadas

In [63]:
new_list = ['item1', 'item2', mix_list, 'item4', ['item4.0', ['item4.1']]]

In [64]:
new_list

['item1',
 'item2',
 ['hola', 51, 8.23, 2, 'cadena'],
 'item4',
 ['item4.0', ['item4.1']]]

Accedemos solo a la lista anidada

In [65]:
new_list[4]

['item4.0', ['item4.1']]

Accedemos solo a la sub-lista anidada, dentro de la lista anidada.

In [71]:
new_list[4][1]

['item4.1']

In [70]:
new_list[4][1][0].upper()

'ITEM4.1'

Índices de una lista

In [72]:
new_list[0]

'item1'

In [73]:
new_list[2][0]

'hola'

In [74]:
new_list[2][0][1]

'o'

In [75]:
new_list[2][0]

'hola'

Modificar valores de una lista

In [76]:
new_list[2][0] = 'adios'

In [77]:
new_list

['item1',
 'item2',
 ['adios', 51, 8.23, 2, 'cadena'],
 'item4',
 ['item4.0', ['item4.1']]]

Propiedades de una lista:

* __append__

In [4]:
lista = [1, 3, 65, 85, 2]

In [80]:
lista.append(100)

In [81]:
lista

[1, 3, 65, 85, 2, 100]

In [82]:
lista.append([100])
lista

[1, 3, 65, 85, 2, 100, [100]]

### Ejercicio 5.

Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua), posteriormente, se pregunte al usuario ¿qué nota has sacado en (asignatura) ?, guardar cada calificación en una nueva lista, finalmente, recorrer ambas listas para ir mostrando por pantalla el nombre de la asignatura y la calificación obtenida.

#### Solución.

In [85]:
vacia = []
vacia

[]

In [86]:
len(vacia)

0

In [90]:
# Lista de asignaturas
asignaturas = ("Matemáticas", "Física", "Química", "Historia", "Lengua")

In [92]:
for asg in asignaturas:
    calificacion = float(input(f"¿Qué calificación has sacado en {asg}?"))
    print(calificacion)

¿Qué calificación has sacado en Matemáticas?5
5.0
¿Qué calificación has sacado en Física?3
3.0
¿Qué calificación has sacado en Química?4.25
4.25
¿Qué calificación has sacado en Historia?8
8.0
¿Qué calificación has sacado en Lengua?6
6.0

In [93]:
# Lista vacía para las puntuaciones
puntuaciones = []

# Guardamos las puntuaciones con append
for asignatura in asignaturas:
    puntuacion = float(input("Qué calificación has sacado en: " + asignatura + " ? ")) # Separar siempre con +
    puntuaciones.append(puntuacion)

Qué calificación has sacado en: Matemáticas ? 5
Qué calificación has sacado en: Física ? 3
Qué calificación has sacado en: Química ? 6
Qué calificación has sacado en: Historia ? 9
Qué calificación has sacado en: Lengua ? 10

In [94]:
puntuaciones

[5.0, 3.0, 6.0, 9.0, 10.0]

In [95]:
# Recorremos indexando las dos listas
for item in range(len(asignaturas)):
    print("En la asignatura --> ", asignaturas[item], " he obtenido una puntuación de --> ", puntuaciones[item])

En la asignatura -->  Matemáticas  he obtenido una puntuación de -->  5.0
En la asignatura -->  Física  he obtenido una puntuación de -->  3.0
En la asignatura -->  Química  he obtenido una puntuación de -->  6.0
En la asignatura -->  Historia  he obtenido una puntuación de -->  9.0
En la asignatura -->  Lengua  he obtenido una puntuación de -->  10.0

In [96]:
# Recorremos indexando las dos listas
for item in range(len(puntuaciones)):
    print("En la asignatura --> ", asignaturas[item], " he obtenido una puntuación de --> ", puntuaciones[item])

En la asignatura -->  Matemáticas  he obtenido una puntuación de -->  5.0
En la asignatura -->  Física  he obtenido una puntuación de -->  3.0
En la asignatura -->  Química  he obtenido una puntuación de -->  6.0
En la asignatura -->  Historia  he obtenido una puntuación de -->  9.0
En la asignatura -->  Lengua  he obtenido una puntuación de -->  10.0

* __clear__

In [97]:
lista

[1, 3, 65, 85, 2, 100, [100]]

In [98]:
lista.clear()

In [99]:
lista

[]

* __copy__

Si no copiamos correctamente una lista, los cambios se verán reflejados en origen y copia.

In [1]:
lista = [1, 3, 65, 85, 2]

In [101]:
lista_dos = lista

In [102]:
lista_dos

[1, 3, 65, 85, 2]

In [103]:
lista_dos[2] = 5000

In [104]:
lista_dos

[1, 3, 5000, 85, 2]

In [105]:
lista

[1, 3, 5000, 85, 2]

In [ ]:
lista_dos

Si realizamos .copy() ...

In [106]:
lista

[1, 3, 5000, 85, 2]

In [107]:
lista_tres = lista.copy()

In [108]:
lista_tres

[1, 3, 5000, 85, 2]

In [109]:
lista_tres[0] = 1400

In [110]:
lista_tres

[1400, 3, 5000, 85, 2]

In [5]:
lista

[1, 3, 65, 85, 2]

* **extend**

In [6]:
z = [4, 9, 0]

In [7]:
lista.extend(z)
lista

[1, 3, 65, 85, 2, 4, 9, 0]

In [12]:
a = [8,9,5]
a

[8, 9, 5]

In [13]:
a.extend((8,98))

In [14]:
a

[8, 9, 5, 8, 98]

Obtenemos el mismo resultado utilizando el operador + que indica, concatenar listas

In [18]:
a = [1,2,3]
b = [4,5,6]

c = a + b

c

[1, 2, 3, 4, 5, 6]

In [19]:
print(c)

[1, 2, 3, 4, 5, 6]

In [16]:
p = ["hola", "bye"]
u = ["juan", "hello"]

p + u

['hola', 'bye', 'juan', 'hello']

* **index**

In [20]:
lista

[1, 3, 65, 85, 2, 4, 9, 0]

In [21]:
lista.index(5000)

ValueError: 5000 is not in list

In [22]:
lista.index(20)

ValueError: 20 is not in list

In [24]:
lista[3]

85

In [23]:
lista.index(85)

3

* **insert**

In [25]:
lista

[1, 3, 65, 85, 2, 4, 9, 0]

In [26]:
lista.insert(4, 'nuevo valor')

In [27]:
lista

[1, 3, 65, 85, 'nuevo valor', 2, 4, 9, 0]

* **pop**

In [28]:
lista.pop(4)

'nuevo valor'

In [29]:
lista

[1, 3, 65, 85, 2, 4, 9, 0]

In [32]:
lista.pop()

0

In [33]:
lista

[1, 3, 65, 85, 4, 9]

* **remove**

In [30]:
lista

[1, 3, 65, 85, 2, 4, 9, 0]

In [31]:
lista.remove(2)
lista

[1, 3, 65, 85, 4, 9, 0]

In [35]:
lista.extend([2,2,2,2])

In [37]:
lista.remove(2)

lista

[1, 3, 65, 85, 4, 9, 2, 2, 2]

* **reverse**

In [38]:
lista

[1, 3, 65, 85, 4, 9, 2, 2, 2]

In [43]:
original = lista.copy()

lista.reverse()

In [44]:
original

[2, 2, 2, 9, 4, 85, 65, 3, 1]

In [45]:
lista

[1, 3, 65, 85, 4, 9, 2, 2, 2]

* **sort**

In [48]:
lista.sort()

lista

[1, 2, 2, 2, 3, 4, 9, 65, 85]

In [55]:
original.sort(reverse=True)

original

[85, 65, 9, 4, 3, 2, 2, 2, 1]

In [57]:
for item in lista:
    print(item)

1
2
2
2
3
4
9
65
85

In [58]:
for item in range(len(lista)):
    print('Índice --> ', item , ' valor: ', lista[item])

Índice -->  0  valor:  1
Índice -->  1  valor:  2
Índice -->  2  valor:  2
Índice -->  3  valor:  2
Índice -->  4  valor:  3
Índice -->  5  valor:  4
Índice -->  6  valor:  9
Índice -->  7  valor:  65
Índice -->  8  valor:  85

In [60]:
for item in range(8, len(lista)):
    print('Índice --> ', item , ' valor: ', lista[item])

Índice -->  8  valor:  85

In [61]:
type(lista)

list

### Ejercicio 5.

Toma como entrada las siguientes listas:

In [62]:
frutas_uno = ['Manzana', 'banana', 'platano', 'uva']
frutas_dos = ['Pera', 'kiwi', 'mandarina', 'naranja']

Obtén una única lista cuyo resultado sea el de borrar de ambas listas la vocal 'a'.

#### Solución.

In [63]:
# Primero concatenamos ambas listas
frutas = frutas_uno + frutas_dos
frutas

['Manzana', 'banana', 'platano', 'uva', 'Pera', 'kiwi', 'mandarina', 'naranja']

In [76]:
["a"]

['a']

In [77]:
frutas.remove("a")

ValueError: list.remove(x): x not in list

In [78]:
fruit = ["manzana"]

In [79]:
fruit[0].replace("a", "")

'mnzn'

In [83]:
# Ahora, recorremos toda la lista, eliminando la vocal a.
for item in range(len(frutas)):
    no_vocals = frutas[item].replace('a', '')
    frutas[item] = no_vocals
    
# Mostramos la lista sin vocal 'a'
frutas

['Mnzn', 'bnn', 'pltno', 'uv', 'Per', 'kiwi', 'mndrin', 'nrnj']

In [84]:
frutas_uno = ['Manzana', 'banana', 'platano', 'uva']
frutas_dos = ['Pera', 'kiwi', 'mandarina', 'naranja']

frutas = frutas_uno +frutas_dos

for item in range(len(frutas)):
    frutas[item] = frutas[item].replace('a', '')
    
frutas

['Mnzn', 'bnn', 'pltno', 'uv', 'Per', 'kiwi', 'mndrin', 'nrnj']

In [82]:
# # ['Manzana', 'banana', 'platano', 'uva', 'Pera', 'kiwi', 'mandarina', 'naranja']

# frutas[0] = "Manzana"

# no_vocals = Mnzn

# frutas[0] = no_vocals

# # ['Mnzn', 'banana', 'platano', 'uva', 'Pera', 'kiwi', 'mandarina', 'naranja']

'Manzana'

### lista[inicio:fin]

### Ejercicio 6. 

Programa que tomando esta lista de enntrada.

In [97]:
nombres = ['Juan', 'Ana', 'David', 'Jose', 'Sofia']

Solicite al usuario introducir un nombre y, devolver la lista con el nombre borrado, si el nombre no se encuentra en la lista, simplemente se devolverá el nombre original.

### Solución.

In [104]:
name_remove = input('Introduce un nombre a borrar: ')

if name_remove in nombres:
    nombres.remove(name_remove)
    print('Lista actualizada ', nombres)
else:
    print('Lista original ', nombres)

Introduce un nombre a borrar: juan
Lista original  ['Juan', 'Ana', 'David', 'Jose', 'Sofia']

In [107]:
"      JuAN    ".lower().strip().capitalize()

'Juan'

### Ejercicio 7

Desde el ejercicio anterior mostrar desde el nombre introducido hasta el final de la lista.

#### Solución.

In [111]:
nombres[3:]

['Jose', 'Sofia']

In [112]:
name_search = input('Introduce un nombre a borrar: ')
name_search

Introduce un nombre a borrar: Ana

'Ana'

In [114]:
nombres

['Juan', 'Ana', 'David', 'Jose', 'Sofia']

In [113]:
nombres.index(name_search)

1

In [129]:
nombres[nombres.index(name_search) : ]

['Ana', 'David', 'Jose', 'Sofia']

In [134]:
name_search.lower()

'ana'

In [137]:
nombres

['Juan', 'Ana', 'David', 'Jose', 'Sofia']

In [143]:
name_search = str(input('Introduce un nombre a borrar: '))

# En este caso, vamos a recorrer la lista, teniendo en cuenta que
#  si el nombre no se encuentra no hacemos nada y, si se encuentra
#  nos quedamos con la posición de índice y paramos el bucle for

indice = 0
for nombre in range(len(nombres)):
    if name_search.lower() == nombres[nombre].lower():
        # Guardamos posición de índice
        indice = nombre
        # No iteramos más veces, salimos del bucle
        break
    else:
        pass

Introduce un nombre a borrar: Ana

In [144]:
indice

1

In [145]:
nombres[indice: ]

['Ana', 'David', 'Jose', 'Sofia']

## DICCIONARIO DE DATOS

Definición de un diccionario.

In [146]:
a = {'clave' : 1}

In [147]:
a

{'clave': 1}

Elementos de un diccionario

In [148]:
b = {'clave_1' : 100,
     'clave_2' : 120,
     'clave_3' : 130
    } 

b

{'clave_1': 100, 'clave_2': 120, 'clave_3': 130}

Anidando diccionarios

In [149]:
mix_dict = {'clave1' : "hola",
            'sub_dict' : b,
             'clave2': 5.2848,
             'sub_dict_2': {
                 'uno': 1,
                 'dos': 2
             }
           }

mix_dict

{'clave1': 'hola',
 'sub_dict': {'clave_1': 100, 'clave_2': 120, 'clave_3': 130},
 'clave2': 5.2848,
 'sub_dict_2': {'uno': 1, 'dos': 2}}

Campo clave

In [150]:
my_dict = {
    'Hello' : 'Hola',
    'Bye' : 'Adios',
    'Car' : 'Coche',
    'Tree' : 'Árbol'
}

In [151]:
my_dict.keys()

dict_keys(['Hello', 'Bye', 'Car', 'Tree'])

Campo valor

In [152]:
my_dict.values()

dict_values(['Hola', 'Adios', 'Coche', 'Árbol'])

In [154]:
my_dict["Bye"]

'Adios'

Buscando campo clave

In [155]:
my_dict['Mouse']

KeyError: 'Mouse'

In [156]:
my_dict['Tree']

'Árbol'

In [158]:
mi_lista = ['Hello', 'Bye', 'Car', 'Tree']

In [157]:
my_dict.keys()

dict_keys(['Hello', 'Bye', 'Car', 'Tree'])

In [166]:
if 'Mouse' in my_dict.keys():
    print('Está')
    my_dict["Mouse"]
else:
    print('No está')

No está

In [168]:
my_dict.get('Car')

'Coche'

In [176]:
my_dict.get('Mouse')

Borrando un diccionario completo

In [177]:
my_dict.clear()

In [178]:
my_dict

{}

Borrando un elemento en un campo clave específico

In [179]:
my_dict = {
    'Hello' : 'Hola',
    'Bye' : 'Adios',
    'Car' : 'Coche',
    'Tree' : 'Árbol'
}

In [180]:
my_dict.pop('Tree')
my_dict

{'Hello': 'Hola', 'Bye': 'Adios', 'Car': 'Coche'}

Borrar último campo insertado

In [182]:
my_dict.popitem()
my_dict

{'Hello': 'Hola', 'Bye': 'Adios'}

Añadiendo nuevos valores

In [183]:
my_dict.update( 
    {'Beach' : 'Playa'}
)

In [184]:
my_dict

{'Hello': 'Hola', 'Bye': 'Adios', 'Beach': 'Playa'}

In [187]:
my_dict["Ordenador"] = "Laptop"

In [188]:
my_dict

{'Hello': 'Hola', 'Bye': 'Adios', 'Beach': 'Playa', 'Ordenador': 'Laptop'}

Clase de un diccionario

In [185]:
type(my_dict)

dict

### Ejercicio 8.

Escribe un programa que solicite un número entero leido por teclado y genere un diccionario de datos en el que los campos clave sean los valores introducios por teclado y, los campos valor el valor al cubo de los mismos.

#### Solución.

In [ ]:
# 5

# 0 : 0**3
# 1 : 1**3
# 5 : 5**3
    
# for number in range(0, 5):
#     my_dict[number] = number ** 3

In [189]:
# Lo primero necesitamos un diccionario vacío
dict_numbers = {}

In [190]:
# Solicitamos un número entero
numero = 0

# Mientras que no sea mayor que cero, solicitamos el número
while numero <= 0:
    numero = int(input("Introduce un número entero "))
    
    # Si el número es menor o igual que cero mostramos mensaje de error
    if numero <= 0:
        print("¡ Error, el número debe ser mayor que cero !")
    else:
        pass

Introduce un número entero 0
¡ Error, el número debe ser mayor que cero !
Introduce un número entero -9
¡ Error, el número debe ser mayor que cero !
Introduce un número entero 8

In [191]:
numero

8

In [192]:
# Generamos una secuencia de 0 a 3
for campo_clave in range(0, numero + 1):
    # Con dict_numbers[campo_clave], vamos generando el campo clave de 0..3
    dict_numbers[campo_clave] = campo_clave ** 3
    # dict_numbers.update({campo_clave : campo_clave **3 })

In [193]:
dict_numbers

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512}

In [194]:
dict_numbers.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [195]:
dict_numbers.values()

dict_values([0, 1, 8, 27, 64, 125, 216, 343, 512])

### Ejercicio 8

Escribe un programa que solicite al usuario una frase, después, genere un diccionario de datos en el que los campos clave sean las palabras y, los campos valor el número de veces que aparece dicha palabra en la frase

#### Solución

In [14]:
mi_frase = input("Introduce frase: ")

Introduce frase: hola es esto es es es es es esto una frase de ejemplo ahora ahora por la tarde

In [ ]:
{
    "hola" : 1,
    "es"   : 6
 }

In [18]:
mi_frase.count("es")

8

In [21]:
frase_split = mi_frase.split(" ")

In [20]:
diccionario = {}

In [22]:
for palabra in frase_split:
    
    if palabra in diccionario.keys():
        # Ya existe, no contamos
        pass # Explorar continue
    else:
        # No existe, hacemos count
        
        # Forma 1 - Con update
        diccionario.update(
            {palabra : mi_frase.count(palabra)}
        )
        
        # Forma 2 - Con asignación
#         diccionario[palabra] = mi_frase.count(palabra)
#         diccionario["hola"]  = mi_frase.count("hola")

In [23]:
diccionario

{'hola': 1,
 'es': 8,
 'esto': 2,
 'una': 1,
 'frase': 1,
 'de': 2,
 'ejemplo': 1,
 'ahora': 2,
 'por': 1,
 'la': 2,
 'tarde': 1}

In [204]:
"hola esto es es es una frase".split(" ")

['hola', 'esto', 'es', 'es', 'es', 'una', 'frase']

In [202]:
"hola esto es es es una frase".count("hola")

1

In [210]:
aux = {
    "hola": 1,
    "esto": 1,
    "es"  : 3,
    "una" : 1,
    "frase": 1,
    "es"   : 500
    
}

aux

{'hola': 1, 'esto': 1, 'es': 500, 'una': 1, 'frase': 1}

In [209]:
"es" in aux.keys()

True

In [216]:
# Solicitamos una frase

frase = ""

while frase == "":
    frase = input("Introduce una frase ")
    # Borramos espacios por si el usuario se ha equivocado al introducir la frase
    frase = frase.strip()
    
    if frase == "":
        print("¡ Error la frase no puede ser vacía !")
    else:
        pass

Introduce una frase es esto es esto esto esto es es es una una una frase de ejemplo

In [217]:
frase

'es esto es esto esto esto es es es una una una frase de ejemplo'

In [218]:
# Recordad, para buscar una sub-string... count
frase.count('hola')

0

In [219]:
# Dividimos la frase en espacios
frase_split = frase.split(" ")

In [220]:
frase_split

['es',
 'esto',
 'es',
 'esto',
 'esto',
 'esto',
 'es',
 'es',
 'es',
 'una',
 'una',
 'una',
 'frase',
 'de',
 'ejemplo']

In [221]:
# Generamos un diccionario de datos vacío
diccionario_palabras = {}

In [223]:
# Recorremos por cada palabra
for palabra in frase_split:
    # Si la palabra no ha sido añadida previamente como campo clave, se añade
    if palabra not in diccionario_palabras.keys():
        # Añadimos al diccionario como campo clave la frecuencia de la palabra
        diccionario_palabras[palabra] = frase.count(palabra)
    else:
        pass # Si ya es campo clave no hacemos nada

In [225]:
frase

'es esto es esto esto esto es es es una una una frase de ejemplo'

In [224]:
diccionario_palabras

{'es': 9, 'esto': 4, 'una': 3, 'frase': 1, 'de': 1, 'ejemplo': 1}

### Ejercicio 9.

Toma el diccionario resultante del ejercicio anterior y, borra cualquier palabra que tenga una frecuencia de 1

#### Solución.

In [ ]:
# Triste | Enfadado | Negativo - Neutro - Postivo | Alegre
# -1                              0                      1

"Estoy muy muy muy contento" - 1

"En el establecimiento, me negaron la hoja de reclamaciones, \
no vayan a comprar allí" -  -0.75

"Estoy enfadadísimo con esa tienda son unos estafadores \
no pienso volver nunca" -1

In [24]:
diccionario

{'hola': 1,
 'es': 8,
 'esto': 2,
 'una': 1,
 'frase': 1,
 'de': 2,
 'ejemplo': 1,
 'ahora': 2,
 'por': 1,
 'la': 2,
 'tarde': 1}

In [30]:
for palabra in diccionario.keys():
    # print("Palabra: ", palabra, " Frecuencia: ", diccionario[palabra])
    if diccionario[palabra] <= 1:
        # Lo borramos
        print("\tEste campo clave {} lo borramos".format(palabra))
        diccionario.pop(palabra)
    else:
        # Frecuencia mayor a 1, lo dejo
        print("\tEste campo clave {} NO lo borramos".format(palabra))
        pass

	Este campo clave hola lo borramos

RuntimeError: dictionary changed size during iteration

In [31]:
len(diccionario)

10

In [32]:
diccionario

{'es': 8,
 'esto': 2,
 'una': 1,
 'frase': 1,
 'de': 2,
 'ejemplo': 1,
 'ahora': 2,
 'por': 1,
 'la': 2,
 'tarde': 1}

In [ ]:
# for item in diccionario.keys():
#     diccionario.pop(item)

In [36]:
elementos_borrar = []

for palabra in diccionario.keys():
    # print("Palabra: ", palabra, " Frecuencia: ", diccionario[palabra])
    if diccionario[palabra] <= 1:
        # Lo guardamos en una lista
        print("\tEste campo clave {} lo borramos".format(palabra))
        elementos_borrar.append(palabra)
    else:
        # Frecuencia mayor a 1, lo dejo
        print("\tEste campo clave {} NO lo borramos".format(palabra))
        pass

elementos_borrar

	Este campo clave es NO lo borramos
	Este campo clave esto NO lo borramos
	Este campo clave de NO lo borramos
	Este campo clave ahora NO lo borramos
	Este campo clave la NO lo borramos

[]

In [37]:
for item in elementos_borrar:
    diccionario.pop(item)

In [38]:
diccionario

{'es': 8, 'esto': 2, 'de': 2, 'ahora': 2, 'la': 2}

In [40]:
# Lo más importante en este ejercicio es saber 
#  como iterar sobre el diccionario

# Vamos a iterar sobre los campos clave.

for campo_clave in diccionario.keys():
    print(campo_clave)

es
esto
de
ahora
la

In [41]:
# Ahora, vamos a mostrar cada value asociado a cada key
for campo_clave in diccionario.keys():
    print(campo_clave, ' --> ', diccionario[campo_clave])

es  -->  8
esto  -->  2
de  -->  2
ahora  -->  2
la  -->  2

In [42]:
# Por lo tanto, ya sabemos acceder a cada campo clave.
# Ahora utilizaremos la función pop para borrar el campo clave
for campo_clave in diccionario.keys():
    # Vemos el valor de frecuencia de cada value
    if diccionario[campo_clave] < 2:
        # Borramos el registro del diccionario
        diccionario.pop(campo_clave)

In [43]:
# No podemos cambiar en tiempo de ejecución el tamaño del diccionario
# solución, guardar cada campo a borrar en una lista

to_delete = []

for campo_clave in diccionario.keys():
    # Vemos el valor de frecuencia de cada value
    if diccionario[campo_clave] < 2:
        # Borramos el registro del diccionario
        to_delete.append(campo_clave)

In [44]:
to_delete

[]

In [45]:
for item in to_delete:
    diccionario.pop(item)

In [47]:
diccionario

{'es': 8, 'esto': 2, 'de': 2, 'ahora': 2, 'la': 2}

# Consideraciones para iterar sobre estructuras de datos

Tanto en una cadena, como una tupla, como una lista podemos iterar directamente sobre sus elementos (en columnas de un dataframe y arrays de Numpy también, pero los veremos más adelante)

In [48]:
cadena = 'hola mundo'

for letra in cadena:
    print(letra)

h
o
l
a

m
u
n
d
o

In [49]:
lista_nums = [1, 100, 1000, 2, 200, 2000]

for num in lista_nums:
    print(num)

1
100
1000
2
200
2000

In [50]:
mi_tupla = (1, 100, 1000, 2, 200, 2000)

for num in mi_tupla:
    print(num)

1
100
1000
2
200
2000

Lo mismo ocurre cuando indexamos con range()

In [51]:
for letra in range(len(cadena)):
    print(letra, ' ', cadena[letra])

0   h
1   o
2   l
3   a
4
5   m
6   u
7   n
8   d
9   o

In [52]:
for num in range(len(lista_nums)):
    print(lista_nums[num])

1
100
1000
2
200
2000

In [55]:
for num in range(len(mi_tupla)):
    print(mi_tupla[num])

1
100
1000
2
200
2000

Podemos limitar también la posición desde la que queremos comenzar a iterar, por ejemplo de 2 a la longitud

In [56]:
for num in range(2, len(lista_nums)):
    print(lista_nums[num])

1000
2
200
2000

El caso más especial para iterar son los diccionarios de datos, ya que disponenen de llaves (keys) y, valores (values)

In [57]:
my_dict = {
    'DNI':        '00000001A',
    'Nombre':     'Homer Jay',
    'Apellidos':  'Simpson',
    'Direccion':  '742 Evergreen Terrace',
    'Trabajo':    'Central Nuclear, sector 7G',
    'Sueldo':     55000   
}

In [58]:
# Keys
for campo_clave in my_dict.keys():
    print(campo_clave)

DNI
Nombre
Apellidos
Direccion
Trabajo
Sueldo

In [59]:
# Valores
for campo_valor in my_dict.values():
    print(campo_valor)

00000001A
Homer Jay
Simpson
742 Evergreen Terrace
Central Nuclear, sector 7G
55000

In [60]:
my_dict["Sueldo"]

55000

In [61]:
# Mostrar un campo valor a través de su clave
for campo_clave in my_dict.keys():
    print(my_dict[campo_clave])

00000001A
Homer Jay
Simpson
742 Evergreen Terrace
Central Nuclear, sector 7G
55000

In [62]:
my_dict.items()

dict_items([('DNI', '00000001A'), ('Nombre', 'Homer Jay'), ('Apellidos', 'Simpson'), ('Direccion', '742 Evergreen Terrace'), ('Trabajo', 'Central Nuclear, sector 7G'), ('Sueldo', 55000)])

In [68]:
otro_diccionario = {
    "clave" : {
        "sub-clave_1": 1,
        "sub-clave_2" :[100, 200]
    }
}

In [69]:
otro_diccionario.items()

dict_items([('clave', {'sub-clave_1': 1, 'sub-clave_2': [100, 200]})])

In [70]:
# Iterar en keys, values
# for k, v
for campo_clave, campo_valor in my_dict.items():
    print('KEY --> ', campo_clave, ' VALOR --> ', campo_valor)

KEY -->  DNI  VALOR -->  00000001A
KEY -->  Nombre  VALOR -->  Homer Jay
KEY -->  Apellidos  VALOR -->  Simpson
KEY -->  Direccion  VALOR -->  742 Evergreen Terrace
KEY -->  Trabajo  VALOR -->  Central Nuclear, sector 7G
KEY -->  Sueldo  VALOR -->  55000

In [71]:
# Por ejemplo, vamos a actualizar el campo 'Sueldo'
if 'Sueldo' in my_dict.keys():
    my_dict['Sueldo'] = 100000

In [72]:
my_dict

{'DNI': '00000001A',
 'Nombre': 'Homer Jay',
 'Apellidos': 'Simpson',
 'Direccion': '742 Evergreen Terrace',
 'Trabajo': 'Central Nuclear, sector 7G',
 'Sueldo': 100000}

In [73]:
# Añadimos un campo más, número de hijos
my_dict.update({'N hijos': 2})

In [74]:
my_dict

{'DNI': '00000001A',
 'Nombre': 'Homer Jay',
 'Apellidos': 'Simpson',
 'Direccion': '742 Evergreen Terrace',
 'Trabajo': 'Central Nuclear, sector 7G',
 'Sueldo': 100000,
 'N hijos': 2}