# 1. Declaración de variables

In [2]:
a = 5 # Entero

In [3]:
b = 2.32 # Double / Float

In [4]:
c = 'Hola' # Carácter

In [5]:
a

5

In [6]:
b

2.32

In [7]:
c

'Hola'

In [8]:
print(a)
print(b)
print(c)

5
2.32
Hola

### Pregunta ¿Cómo pueden declararse más de dos variables en una misma línea de código?

In [1]:
a, b = 5, 'ejemplo de texto'

In [2]:
print(a)
print(b)

5
ejemplo de texto

# 2. Comentarios

Una línea

In [ ]:
# Comentario simple, una línea

In [ ]:
v = a # La variable tomará el valor de la variable a que es 5

Multilínea

In [ ]:
"""
Ejemplo de comentario de varias líneas:
línea 1
línea 2
....
línea n
"""

In [ ]:
"""También se puede realizar en una línea un comentario multilínea"""

__Importante__: Para comentar varias puedes seleccionar el código a comentar y pulsar __CNTRL + /    o para otros teclados CNTR + }__, para descomentar se utiliza la misma combinación de teclas.

Prueba a comentar y descomentar el código de la siguiente celda.

In [3]:
# def my_func(number):
#     return number ** 2

# numero = 5

# my_func(number=numero)

# 3. Operadores

## 3.1 Aritméticos

In [4]:
a = 5
b = 2

In [5]:
a + b #Suma

7

In [6]:
a - b #Resta

3

In [7]:
a * b #Multiplicación

10

In [8]:
a / b #División

2.5

In [9]:
a % b #Resto

1

In [10]:
a ** b  #Exponencial

25

In [11]:
a // b #División entera

2

### Ejercicio 1

Escribe un programa que muestre por pantalla el resultado de sumar tres variables de números

#### Solución

In [12]:
x = 5
y = 3.45
z = 6

In [13]:
suma = x + y + z

print('El resultado de la suma es --> ', suma)

### Ejercicio 2

Escribe un programa que se encargue de elevar un número al cubo

#### Solución

In [15]:
base = 2
exponente = 3

resultado_cubo = base ** exponente

print('El resultado de elevar ', base, ' al cubo es ', resultado_cubo)

El resultado de elevar  2  al cubo es  8

### Ejercicio 3

Teniendo en cuenta los siguientes números

In [17]:
a = 12
b = 9
c = 133
d = 0

¿Cómo podemos determinar si es par o impar?

#### Solución.

Sabiendo que un número par es el que, al dividirlo entre 2 devuelve resto cero, simplemente tedremos que dividir cada uno de los números entre dos

In [18]:
a % 2 # Par

0

In [19]:
b % 2 # Impar

1

In [20]:
c % 2 # Impar

1

In [21]:
d % 2 # Par

0

### Pregunta ¿Qué resultado obtendríamos del siguiente fragmento de código?

<code>
a = '1'
b = '1'

print(a + b)
</code>

* Error
* 11
* 2
* 4

In [17]:
a = '1'
b = '1'

print(a + b)

11

### Pregunta ¿Qué resultado obtendríamos del siguiente fragmento de código?

<code>
a = 1
b = '1'

print(a + b)
</code>

* Error
* 11
* 2
* 4

In [16]:
a = 1
b = '1'

print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## 3.2 Operadores de asignación

In [18]:
z = 100 # Asignación

In [19]:
z += 20 # Suma de z más valor nuevo, equivalente a: x = x + n
z

120

In [20]:
z -= 20 # Resta de z menos el valor nuevo, equivalente a: x = x - n
z

100

In [21]:
z *= 2 # Multiplicación de z * n, equivalente a: x = x * n
z

200

In [22]:
z /= 4 # División z entre n, equivalente a: x = x / n
z

50.0

In [23]:
z %= 7 # Resto de z entre n, equivalente a: x = x % n
z

1.0

In [24]:
z = 100
z //= 3 # Deivisión entera de z entre n, equivalente a: x = x // n
z

33

In [25]:
z **= 3 # Exponencial de x a n, equivalente a: x = x ** n
z

35937

### Pregunta ¿Qué resultado obtendríamos del siguiente fragmento de código?

<code>
a = 50
b = 7
c = 60
    
a, b, c += 5
</code>

* Error
* 55, 12, 65
* 250, 35, 300
* 10, 7, 12

In [30]:
a = 50
b = 7
c = 60

a, b, c += 5

SyntaxError: 'tuple' is an illegal expression for augmented assignment (471042362.py, line 5)

## 3.3 Comparadores

In [31]:
x = 100

* __Mayor que__. Devuelve __True__ si la variable es mayor que el valor de la expresión, si no __False__

In [32]:
x > 5

True

* __Menor que__. Devuelve __True__ si la variable es menor que el valor de la expresión, si no __False__

In [33]:
x < 5

False

* __Mayor o igual que__
* __Menor o igual que__

In [34]:
x >= 100

True

* __Igual que__: Devuelve __True__ si ambos valores son iguales, si no __False__

In [35]:
x == 100

True

In [36]:
x == '100' # Cuidado con los tipos...

False

In [37]:
x == 100.00

True

In [38]:
x == 100.01 # La comparación ha de ser completamente exacta

False

* __Distinto que__: Devuelve __True__ si ambos valores son diferentes, si no __False__

In [39]:
x != 100

False

In [40]:
x != 101

True

* __and__: Devuelve __True__ si las condiones de la igualdad se cumplen, si no devuelve __False__

In [41]:
x > 36 and x < 200

True

In [42]:
x > 36 and x > 200

False

* __or__: Devuelve __True__ si una de las condiciones de la igualdad se cumplen, si ninguna se cumple devuelve __False__

In [43]:
x > 36 or x > 200

True

* __not__: Funciona en sentido inverso, es decir si el operador __and__ devuelve __True__ la condición devolverá __False__

In [44]:
not(x > 36 and x < 200 )

False

### Ejercicio 4

Teniendo en cuenta los siguientes números

In [45]:
a = 12
b = 9
c = 133
d = 0

¿Cómo podemos determinar si es par o impar?, nota: El resultado debe ser booleano (True o False)

#### Solución

In [46]:
print(a % 2 == 0)
print(b % 2 == 0)
print(c % 2 == 0)
print(d % 2 == 0)

True
False
False
True

## 3.4 Operadores de indentidad

In [ ]:
a is x # Devuelve True si ambos términos son iguales, si no false

In [ ]:
a is not x # Devuelve True si ambos términos son distintos, si no false

### Pregunta

Si realizamos la siguiente asingación:

In [47]:
a = 5
b = '5'
a is b

False

¿Qué devolverá la operación <code>a is b</code> ?

### Pregunta

Si realizamos la siguiente asingación:

In [48]:
a = 'hola'
b = 'hol'
a is b

False

¿Qué devolverá la operación <code>a is b</code> ?

### Pregunta

Si realizamos la siguiente asingación:

In [49]:
a = 'hola'
b = 'HOLA'
a is b

False

¿Qué devolverá la operación <code>a is b</code> ?

## 3.5 Operadores de pertenencia.

In [50]:
cadena = 'hola'

In [51]:
'a' in cadena # Devuelve True si el primer elemento está en el segundo, si no false

True

In [52]:
'a' not in cadena # Devuelve False si el primer elemento está en el segundo, si no True

False

### Pregunta

Si realizamos la siguiente asingación:

In [53]:
a = 'HOL'
b = 'hola'
a in b

False

¿Qué devolverá la operación <code>a in b</code> ?

# 4. Tipos de variables

* Numéricas:
    - Enteros - int.
    - Decimales - float.
* Cadenas de texto - string.
* Booleanos.

In [54]:
entero = 5
print(entero)

5

In [55]:
decimal = 6.2435
print(decimal)

6.2435

In [56]:
cadena = 'Hola mundo !'
print(cadena)

Hola mundo !

In [57]:
boolean_t = True
print(boolean_t)

True

In [58]:
boolean_f = False
print(boolean_f)

False

Conociendo el tipo de una variable, utilizar función <code>__type()__</code>

In [59]:
type(entero)

int

In [60]:
type(decimal)

float

In [61]:
type(cadena)

str

In [62]:
type(boolean_t)

bool

# 5. Consideraciones sobre las variables

Es importante construir los nombres de las variables correctamente, para ello se pueden seguir algunas de las siguientes consideraciones:

* No tomar nombres excesivamente largos.
* No asignar números a los nombres de las variables.
* En caso de asignar números, mejor hacerlo al final del nombre de la variable.
* No incluir espacios en los nombres de las variables, mejor guión bajo (muy extendido en la comunidad Python).
* No emplear signos de puntuación o caracteres especiales para declarar variables.
* No utilizar nombres de palabras reservadas en Python como: print, class, assert, if, for, while, pass, continue, break, etc.

In [63]:
import keyword 
keyword.kwlist # Lista con los nombres de palabras reservadas en Python

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [64]:
@a = 5

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (70693100.py, line 1)

In [65]:
2b = 2

SyntaxError: invalid decimal literal (1906915082.py, line 1)

In [68]:
b_2 = 2
b_2

2

In [67]:
mi variable = 'hola'

SyntaxError: invalid syntax (3427137145.py, line 1)

# 6. Operaciones con cadenas

Existen algunas operaciones interesantes con cadenas de texto que es importante mencionar

Convertir una cadena de texto a mayúsculas <code>.upper()</code>

In [69]:
cadena_texto = "Hola soy estudiante de IMF"

In [70]:
cadena_texto.upper()

'HOLA SOY ESTUDIANTE DE IMF'

Convertir una cadena de texto a minúsculas <code>.lower()</code>

In [71]:
cadena_texto.lower()

'hola soy estudiante de imf'

Para concatenar cadenas empleamos el operador +

In [72]:
parte_uno = 'Hola'
parte_dos = 'soy Juan Manuel'

In [73]:
presentacion = parte_uno + " " + parte_dos
print(presentacion)

Hola soy Juan Manuel

Para separar una cadena de texto en espacios utilizamos la función <code>.split()</code>

In [74]:
presentacion.split(' ')

['Hola', 'soy', 'Juan', 'Manuel']

Para borrar espacios al inicio de una frase se utiliza la función <code>.lstrip()<code>

In [75]:
mi_frase = '  Hola soy un estudiante de IMF   '

In [76]:
mi_frase

'  Hola soy un estudiante de IMF   '

In [77]:
mi_frase.lstrip()

'Hola soy un estudiante de IMF   '

Para borrar espacios al final de una frase se utiliza la función <code>.rstrip()<code>

In [78]:
mi_frase.rstrip()

'  Hola soy un estudiante de IMF'

Para borrar espacios tanto al final como al principio se utiliza la función <code>.strip()</code>

In [79]:
mi_frase.strip()

'Hola soy un estudiante de IMF'

También es posible añadir diferentes separadores de texto cuando realizamos print()

* Tabulador \t

In [80]:
print('HOLA !!')
print('\tHOLA !!')
print('\t\tHOLA !!')

HOLA !!
	HOLA !!
		HOLA !!

* Salto de línea \n

In [81]:
print('Hola\n soy un estudiante\n de IMF')

Hola
 soy un estudiante
 de IMF

Mucho ojo al utilizar apóstrofes...

In [82]:
print('Hi ! I'm Juan Manuel)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3824563065.py, line 1)

In [83]:
print("Hi ! I'm Juan Manuel") # Cuando tengamos cadenas de texto que empleen apóstrofe, mejor dobles comillas.

Hi ! I'm Juan Manuel

Otra forma...

In [84]:
print('Hi ! I\'m Juan Manuel')

Hi ! I'm Juan Manuel

Para obtener la longitud de una cadena utilizamos la función <code>len(cadena)</code>

In [87]:
len(presentacion)

20

Para conocer el número de veces que aparece una sub-cadena utilizaremos <code>.count()</code>

In [86]:
presentacion.count('a')

3

Si necesitamos reemplazar una sub-cadena de texto por otra, utilizaremos la función <code>.replace()</code>, es importante resaltar que esta función recibe dos parámetros uno, la sub-cadena de texto a reemplazar y, el otro parámetro la sub-cadena de texto nueva

In [88]:
presentacion

'Hola soy Juan Manuel'

In [89]:
presentacion.replace('Juan', 'Jose')

'Hola soy Jose Manuel'

Si es necesario mostrar la primera letra de una cadena de texto como mayúsculas, utilizaremos la función <code>.capitalize()</code>

In [90]:
texto = 'hola'
texto.capitalize()

'Hola'

Es importante saber que pueden emplearse varias funciones al mismo tiempo sobre una cadena.

Por ejemplo, vamos a pasar a minúsculas la siguiente frase y además suprimir los espacios que pueda haber al principio y al final de la frase

In [91]:
mi_frase.lower().strip()

'hola soy un estudiante de imf'

### Ejercicio 5.

Dada la siguiente frase:

In [92]:
conjunto_frases = "frase uno, frase dos, frase tres, frase cuatro   "

Obtén un subconjunto de la frase que en la que se hayan borrado los espacios del final, se muestre la primera letra con mayúscula, en lugar de 'frase' que aparezca 'mensaje' y además, separar las frases en sub-cadenas a través de las comas.

#### Solución

In [93]:
sin_espacios = conjunto_frases.rstrip()
sin_espacios

'frase uno, frase dos, frase tres, frase cuatro'

In [94]:
mensajes = sin_espacios.replace('frase', 'mensaje')
mensajes

'mensaje uno, mensaje dos, mensaje tres, mensaje cuatro'

In [95]:
cap = mensajes.capitalize()
cap

'Mensaje uno, mensaje dos, mensaje tres, mensaje cuatro'

In [96]:
cap.split(',')

['Mensaje uno', ' mensaje dos', ' mensaje tres', ' mensaje cuatro']

Mucho más directo...

In [97]:
conjunto_frases.rstrip().replace('frase', 'mensaje').capitalize().split(',')

['Mensaje uno', ' mensaje dos', ' mensaje tres', ' mensaje cuatro']

# 7. Cambiando el tipo de variable.

Como ya sabemos, en Python, no hay que especificar el tipo de variable en su momento de creación ya que es un lenguaje tipado, no obstante, a veces puede ser necesario cambiar el tipo de variable, es decir, pasar de carácter a entero, de entero a float, etc. Veamos algunos ejemplos.

De entero a float

In [98]:
my_int = 5
my_int

5

In [99]:
int_to_float = float(my_int)
int_to_float

5.0

In [100]:
type(int_to_float)

float

De float a entero

In [101]:
my_float = 3.14
my_float

3.14

In [102]:
float_to_int = int(my_float)
float_to_int # Importante !! borra la parte decimal.

3

In [103]:
type(float_to_int)

int

Carácter a entero

In [104]:
my_chr = '5'
my_chr

'5'

In [105]:
chr_to_int = int(my_chr)
chr_to_int

5

In [106]:
type(chr_to_int)

int

### Pregunta

Si realizamos la siguiente asingación:

In [107]:
my_chr = '1a'

¿Qué devolverá la operación <code>int(my_chr)</code> ?

In [108]:
int(my_chr)

ValueError: invalid literal for int() with base 10: '1a'

Enterero a cadena de texto

In [109]:
my_int = 6000
my_int

6000

In [110]:
int_to_str = str(my_int)
int_to_str

'6000'

In [111]:
type(int_to_str)

str

Float a cadena de texto

In [112]:
my_float = 32.56
my_float

32.56

In [113]:
float_to_str = str(my_float)
float_to_str

'32.56'

In [114]:
type(float_to_str)

str